<?xml version="1.0" encoding="UTF-8"?> 

<!-- 
  XML declaration specifying the version and character encoding 
-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- 
  Root element defining the TestNG suite. 
  Attributes:
    - name: Logical name of the test suite.
    - verbose: Sets the level of detail in the console output (1 = minimal).
    - parallel: Specifies whether tests should run in parallel ("false" = sequential execution).
-->
<suite name="Capstone Suite" verbose="1" parallel="false">

  <!-- 
    Defines a TestNG <test> tag within the suite.
    Attribute:
      - name: Descriptive name for this group of tests.
  -->
  <test name="Cucumber Tests">
    
    <!-- 
      Specifies the Java classes that contain test methods.
    -->
    <classes>

      <!-- 
        Fully qualified name of the test runner class.
        This is typically used to execute Cucumber tests.
      -->
      <class name="runners.TestRunner"/>

    </classes>
  </test>
</suite>
